<div class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1>Work Experience</h1>
	</div>
	<div class="content-rounded-panel">
		<div>
			<div class="main-timeline4">
				{% assign timeline = site.roles | concat: site.education %}
				{% assign timeline = timeline | sort: 'sortyear' | reverse %}
				{% for item in timeline %}
					{% if item.employer %}
						{% assign tl_id = item.employer | replace: ' ', '_' | append: '-' | append: item.title | replace: ' ', '_' %}
						{% assign tl_title = item.title %}
						{% assign tl_sub = item.employer %}
					{% else %}
						{% assign tl_id = item.school | replace: '.', '' | replace: ' ', '' | append: '-' | append: item.level | replace: '.', '' | replace: ' ', '' | replace: '(', '' | replace: ')', '' %}
						{% assign tl_title = item.level %}
						{% assign tl_sub = item.subject %}
					{% endif %}
					<div class="timeline">
							<a href="#" class="timeline-content" data-toggle="modal" data-target="#{{ tl_id }}">
								<span class="year">{{ item.year }}</span>
								<div class="inner-content">
									<h3 class="title">{{ tl_title }}</h3>
									<h5>{{ tl_sub }}</h5>
								</div>
							</a>
					</div>
				{% endfor %}
			</div>


			<!-- Modals -->
			{% for role in site.roles %}
				<div class="modal fade" id="{{role.employer | replace: ' ', '_'}}-{{role.title | replace: ' ', '_'}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">{{role.title}} - {{role.employer}}</h3>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								{{role.description}}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			{% for edu in site.education %}
				<div class="modal fade" id="{{edu.school | replace: '.', '' | replace: ' ', ''}}-{{edu.level | replace: '.', '' | replace: ' ', '' | replace: '(', '' | replace: ')', ''}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">{{edu.level}} - {{edu.school}}</h3>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								{{edu.subject}}
								{% if edu.note %}<br><br>{{edu.note}}{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
		<br>
	</div>
</div>
